<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
>
    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0" />
    </php>
    <testsuites>
        <testsuite name="PSR-6 HttpCache Store Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>./src/</directory>
        </whitelist>
    </filter>
</phpunit>
